.wrapper-cont {
	max-width: 700px;
}

.header {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header button {
	padding: 7px 30px;
    background: orange;
    border-color: orange;
    border-radius: 2px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
}

.header .time-result {
	color: #eee;
	margin-bottom: 20px;
}

.time-result span {
	color: #e3efee;
}

.card-row {
	justify-content: center;
}

.img-card {
	margin: 7px 0;
}

.img-card img {
	width: 200px;
	height: 200px;
}

.front {
	display: none;
}
.time {
  font-size: 46px;
  letter-spacing: 2px;
  position: absolute;
  top: 10px;
  left: 20px;
  color: #666;
}